

{% extends 'projects/base.html' %}

{% block content %}

  <h2>{{ project.name }}</h2>

  <!-- <ul>
    <li>Type: { project.get_type_display }</li>
    <li>Année d'origine : { project.year }</li>
    <li>Solde : { project.sold|yesno }</li>
  </ul> -->

  <br>
  <br>
 
  <div class="container">
    <div class="row">
      <div class="col">
        <div >
            <h5 class="alert-heading"></h5>
            
           
        </div>
        <h1>{{ project.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="embed-responsive">
          <img src="{{ project.thumbnail.url }}" alt="L'image du projet">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <br>
        <div>
          <p>{{ project.summary }}</p>
        </div>
      </div>
    </div>
  </div>


  <!-- <a href="{ url 'projects:project-update' project.id }">Éditer cette liste</a>
  <a href="{ url 'projects:project-delete' project.id }">Supprimer cette liste</a>
  <a href="{ url 'projects:project-list' }">Retourner à l'ensemble des listes</a> -->


  






{% endblock %}