{% extends 'projects/base.html' %}

{% block content %}


  <div class="container">
    <div class="row my-3">
      <div class="col">
        <br>
        <br>
        <br>
        <h1 style="margin-top: 2;"></h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input class="form-control" id="searchInput" type="text" placeholder="Search..">
      </div>
    </div>


  <div class="row" id="lessonList">
    {% for project in projects %}
      <div class="col-12 col-lg-4">
        <div class="card mb-4 mb-lg-0 border-light shadow-sm">
          <img src="{{ project.thumbnail.url }}" alt="{{ project.name }}">
         
          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <!-- <p class="card-text">{ project.summary }</p> -->
            <a href="{% url 'projects:project-detail' project.id %}" class="btn btn-primary stretched-link">Détail du projet</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>







  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#lessonList .col-12").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>





{% endblock %}