{% load static %}





<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- <link rel="stylesheet" href="css/style.css" /> -->
 <link rel="stylesheet" href="{% static 'projects/css/style.css' %}"> 

 
  <title>My Porfolio</title>
</head>


<!-- { include 'includes/navbar.html' } -->

{% include 'includes/navbar.html' %}

  {% block content %} {% endblock %}



	<!-- footer -->
	{% include 'includes/footer.html' %}

  <html>